.chat-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.messages-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: calc(100vh - 111px);
  overflow-y: scroll;
}

.messages-container {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.message-inner-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.empty-chat {
  position: absolute;
  inset: 50% 50% 50% 35%;
  text-wrap: nowrap;
}
