.button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  padding: 12px 24px;
  font-size: 13px;
  text-align: center;
  color: var(--white);
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.button-secondary {
  font-size: 11px;
  color: var(--main-color);
  background-color: transparent;
}

.button:hover {
  background-color: var(--main-color-hover);
}

.button:active {
  background-color: var(--main-color-active);
}

.button.button-secondary:hover {
  background-color: var(--white-color-hover);
}

.button.button-secondary:active {
  background-color: var(--second-color);
}

.button:focus {
  outline: 2px solid rgb(51 105 243 / 50%);
  outline-offset: 2px;
}
