.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-label {
  min-width: 160px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 13px;
}

.info-value {
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 13px;
  text-align: right;
}

.info-divider {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: var(--grey);
}

.info-value.info-input {
  width: 100%;
  font-size: 13px;
  background: transparent;
  border: none;
  outline: none;
}
