.info-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info-label {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  min-width: 160px;
}

.info-value {
  color: #999;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}

.info-divider {
  background-color: #eaeaea;
  height: 1px;
  margin: 0;
  width: 100%;
}

.info-value.info-input {
  background: transparent;
  border: none;
  font-size: 13px;
  outline: none;
  width: 100%;
}
