.chat-item {
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
  padding: 4px;
  white-space: nowrap;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--white-color-hover);
    cursor: pointer;
  }
}

.chat-user-info {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.user-avatar {
  display: flex;
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  background-color: var(--grey);
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: start;
}

.user-name {
  align-self: start;
  color: var(--text-color);
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
}

.last-message {
  margin-top: 4px;
  color: var(--grey-darker);
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-align: left;
}

.chat-meta {
  font-weight: 500;
}

.message-time {
  color: var(--grey-darker);
  font-size: 9px;
  line-height: 1;
  text-align: right;
}

.unread-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-top: 14px;
  padding: 0 7px;
  color: var(--white);
  font-size: 11px;
  line-height: 1;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 50%;
}
