.chat-item {
  align-items: stretch;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 12px;
  padding: 4px;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: var(--white-color-hover);
    cursor: pointer;
  }
}

.chat-user-info {
  align-items: stretch;
  display: flex;
  gap: 10px;
}

.user-avatar {
  background-color: var(--grey);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 47px;
  width: 47px;
}

.user-details {
  align-items: stretch;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.user-name {
  align-self: start;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

.last-message {
  color: var(--grey-darker);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-top: 4px;
}

.chat-meta {
  font-weight: 500;
}

.message-time {
  color: var(--grey-darker);
  font-size: 9px;
  line-height: 1;
  text-align: right;
}

.unread-badge {
  align-items: center;
  background-color: var(--main-color);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 11px;
  height: 20px;
  justify-content: center;
  line-height: 1;
  margin-top: 14px;
  padding: 0 7px;
  text-align: center;
  width: 20px;
}
