.chat-container {
  background-color: var(--white);
  height: 100vh;
  overflow: hidden;
  padding-right: 10px;
}

.chat-layout {
  display: flex;
  gap: 20px;
  height: 100%;
}

.main-column {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  line-height: normal;
  position: relative;
  width: 75%;
}

.main-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  padding: 10px 0;
  width: 100%;
}

.chat-header {
  align-items: stretch;
  border-bottom: 1px solid var(--grey);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 600;
  gap: 20px;
  justify-content: space-between;
  line-height: 1;
  margin: 0 10px;
  padding-bottom: 10px;
  position: relative;
  white-space: nowrap;
}

.chat-options {
  align-items: center;
  background-color: var(--bg-grey);
  border-radius: 50%;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;

  &:hover {
    background-color: var(--bg-grey-hover);

    + .system-message {
      display: block;
    }
  }
}

.system-action:not(:first-child) {
  margin-top: 16px;
}

.bottom-divider {
  background-color: var(--grey);
  display: flex;
  flex-shrink: 0;
  height: 1px;
  margin: 10px;
  max-width: 100%;
}
