.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 70%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 340px;
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin: 0;
  text-align: center;
  text-wrap: wrap;
}

.modal-body {
  padding: 45px 0;
}

.modal-footer {
  display: flex;
  flex-direction: column;
}
