.active-user-info {
  align-items: stretch;
  display: flex;
  gap: 10px;
}

.active-user-avatar {
  background-color: var(--grey);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 34px;
  width: 34px;
}

.active-user-name {
  margin: auto 0;
}

.header-button-wrapper {
  position: relative;
}

.date-section {
  align-items: stretch;
  align-self: end;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 100%;
  width: 499px;
}

.date-label {
  color: var(--text-secondary-color);
  left: 50%;
  line-height: 1;
  margin: auto 0;
  position: absolute;
  right: 50%;
  text-align: center;
  top: 100px;
}
