.active-user-info {
  align-items: stretch;
  display: flex;
  gap: 10px;
}

.active-user-avatar {
  background-color: var(--grey);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 34px;
  width: 34px;
}

.active-user-name {
  margin: auto 0;
}

.header-button-wrapper {
  position: relative;
}

.date-section {
  align-items: stretch;
  align-self: end;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 100%;
  width: 499px;
}

.date-label {
  color: var(--text-secondary-color);
  left: 50%;
  line-height: 1;
  margin: auto 0;
  position: absolute;
  right: 50%;
  text-align: center;
  top: 100px;
}

.system-message {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--container-box-shadow);
  color: var(--text-color);
  display: none;
  line-height: 1;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 2000;
}

.system-action {
  align-items: stretch;
  display: flex;
  gap: 15px;
}

.action-icon {
  align-items: center;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  height: 22px;
  justify-content: center;
  width: 22px;
}

.action-text {
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto 0;
}

.action-text-alt {
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto 0;
}
