.action-button {
  display: block;
  width: 100%;
  padding: 0;
  color: var(--main-color);
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.action-button:hover {
  opacity: 0.8;
}

.action-button:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

.action-button.red {
  color: #f00;
}
