.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: var(--grey);
  border-radius: 50%;
}

.edit-avatar-button {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-avatar-button:hover {
  opacity: 0.8;
}

.edit-avatar-button:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}
