.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: var(--grey);
  border-radius: 50%;
}

.edit-avatar-button {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-avatar-button:hover {
  opacity: 0.8;
}

.edit-avatar-button:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

.chat-avatar {
  .profile-avatar {
    width: 37px;
    height: 37px;
  }

  .edit-avatar-button {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}
