.form-field {
  width: 100%;
  margin-bottom: 16px;
}

.field-label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
  font-size: 9px;
}

.field-input {
  width: 100%;
  padding: 0 0 7px;
  color: var(--text-color);
  font-size: 13px;
  background: transparent;
  border: none;
  outline: none;
}

.error-state .field-input {
  color: var(--error-color);
}

.field-underline {
  width: 100%;
  height: 1px;
  border: 1px solid var(--main-color);
}

.error-message {
  margin-top: 7px;
  color: var(--error-color);
  font-size: 8px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 47px;
}

.field-input:focus + .field-underline {
  border-color: var(--main-color);
  border-width: 2px;
}

.text-right {
  text-align: right;
}
