.form-field {
  width: 100%;
  margin-bottom: 16px;
}

.field-label {
  display: block;

  margin-bottom: 8px;
  font-size: 9px;

  color: var(--text-color);
}

.field-input {
  width: 100%;
  padding: 0 0 7px 0;

  background: transparent;
  border: none;

  font-size: 13px;
  color: var(--text-color);
  outline: none;
}

.field-input.error-state {
  color: var(--error-color);
}

.field-underline {
  width: 100%;
  height: 1px;
  border: 1px solid var(--main-color);
}

.error-message {
  margin-top: 7px;
  font-size: 8px;
  color: var(--error-color);
}

.buttons-container {
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.field-input:focus + .field-underline {
  border-width: 2px;
  border-color: var(--main-color);
}
