:root {
  --main-color: #3369f3;
  --main-color-hover: #2955cb;
  --main-color-active: #1f41b7;
  --second-color: #e4edfd;
  --error-color: #ff2f2f;
  --text-color: #1e1e1e;
  --white: #ffffff;
  --white-color-hover: #f1f1f1;
  --text-secondary-color: #999;
  --container-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

#modal {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
}

#modal.active {
  display: block;
}
