.message-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-self: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1;
  color: var(--text-secondary-color);
  background-color: var(--grey);
  border-radius: 30px;
  white-space: nowrap;
}

.message-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.message-page-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.media-menu {
  position: absolute;
  z-index: 2000;
  bottom: 65px;
  display: flex;
  display: none;
  flex-direction: column;
  align-items: start;
  width: 162px;
  max-width: 100%;
  padding: 15px;
  font-size: 12px;
  line-height: 1;
  color: var(--text-color);
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--container-box-shadow);
}

.media-option {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  gap: 15px;
}

.media-option:not(:first-child) {
  margin-top: 16px;
}

.media-icon {
  flex-shrink: 0;
  width: 22px;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 1;
}

.media-label {
  margin: auto 0;
}

.media-option-file {
  display: flex;
  align-items: stretch;
  margin-top: 16px;
  gap: 15px;
  white-space: nowrap;
}

.media-option-location {
  display: flex;
  align-items: stretch;
  margin-top: 16px;
  gap: 15px;
  white-space: nowrap;
}
