.message-container {
  display: flex;
  width: 100%;

  &:has(.outgoing-message) {
    flex-direction: row-reverse;
  }
}

.message {
  display: flex;
  gap: 8px;
  align-items: end;
  width: fit-content;
  max-width: 400px;
  padding: 12px;
}

.incoming-message {
  background-color: var(--incoming-message-color);
  border-radius: 0 12px 12px;
}

.outgoing-message {
  background-color: var(--second-color);
  border-radius: 12px 12px 0;
}

.message-text {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1;
}

.message-timestamp {
  color: var(--text-secondary-color);
  font-size: 9px;
  line-height: 1;
  text-align: right;
}

.message-container-wrapper {
  z-index: 1000;
  width: 100%;
}
